.section-map{
    position: relative;
    padding: 180px 0;

    &::before{
        content: "V";

        position: absolute;
        z-index: -1;
        top: 160px;
        right: calc(50% + 555px);
        transform: translate(50%, 0);
        line-height: 1.15;

        opacity: 0.02;
        font-size: 400px;
        font-family: $font-accent;

    }

    @media only screen and (max-width: $tablet) {
        padding: 90px 0;
    }
    
}

.section-map_title{
    margin-bottom: 88px;

    @media only screen and (max-width: $tablet) {
        margin-bottom: 44px;
    }
}

.section-map_map{

}

.map{
    height: 358px;
    background: #626262;
}