@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Raleway:ital@0;1&family=Roboto:wght@300&display=swap');
@import '../base/vars';
body{
    font-family: $font-main; 
    background-color: $dark;
    color: $white;
    font-size: 16px;
}

a {
    color: $white;

    &:hover{
        color: $lime;
    }
}

.container{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1140px;

    &--sm{
        max-width: 824px;
    }
}

.text-right{
    text-align: right;
}

.visually-hidden{
    height: 1px;
    overflow: hidden;
    width: 1px;

    position: absolute;

    clip: rect(1px 1px 1px 1px);
    clip: rect(1px 1px 1px 1px);
    clip-path: inset(50%);

    white-space: nowrap;
}

.none{
    display: none !important;
}

.title-2{
    font-size: 36px;
    font-family: $font-accent;
    color: $lime;
    font-weight: 700;

    @media only screen and (max-width: $tablet) {
        font-size: 28px;
    }
}

.link-bold{
    color: #0BBF83;
    font-weight: 700;
}

.no-scroll{
    overflow-y: hidden;
}