@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Raleway:ital@0;1&family=Roboto:wght@300&display=swap');
//font-family: "Playfair Display", serif;
//font-family: "Raleway", sans-serif;
//font-family: "Roboto", sans-serif;

//Fonts
$font-main: "Raleway", sans-serif;
$font-accent: "Playfair Display", serif;
$font-secondary: "Roboto", sans-serif;

//colors
$dark: #242B33;
$accent: #D4c17F;
$lime: #91F9BB;
$beruz: #0BBF83;
$white: #fff;
$redrose: #BF0B41;

//media
$tablet: 999px;